<div class="container">
  <h1>Signup!</h1>
  <% flash.each do |type, msg| %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% end %>
  <%= form_for :user, url: '/users' do |form| %>
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control' %>
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control' %>
    <%= form.label :email%>
    <%= form.email_field :email, class: 'form-control' %>
    <%= form.label :password%>
    <%= form.password_field :password, class: 'form-control' %>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
    <%= form.submit 'Sign Up', class: 'btn btn-primary' %>
  <% end %>
</div>
